*{
    box-sizing: border-box;
    border-radius: 8px;
}

.flex-container {
    display: flex;
    padding: 1em;
    margin-top: 1rem;
    /* margin-top: 1rem is relative from the navbar */
}
 
.flex-item {
  
    flex-grow: 1;
    width: 30;
}

.flex-item:not(:last-child){
    margin-right: 1em;
}
.package-type {
    border: 1px solid crimson;
    list-style-type: none;
    margin: 0;
    padding:0;
}

.package-type .header{
    background-color: cyan;
    border-bottom: 1px solid chocolate;
    font-size: 1.55em;
    color: #ffffff;
    justify-content: center;
}

.package-type li {
    background-color: white;
    border-bottom: 1px solid wheat;
    padding: 1em;
    text-align: center;
}

.package-type subheader {
    background-color: #ededed;
    font-size: 1.25em;
}

@media only screen and (max-width: 600px){
    .flex-container{
        flex-wrap: wrap;
    }
    .flex-item{
        flex: 0 0 100%;
        margin-bottom: 1em;
        width: 100%;
    }
}